*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Hide leaflet control scroll bar */
.leaflet-control-layers-list {
  overflow: hidden;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
}

/* ================================================================== HEADER STYLING ================================================================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

header h1 {
  font-size: 24px;
}

/* Navigation styles */
nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: #0000ee;
}

/* ================================================================== MAP STYLING ================================================================== */
/* ================================= MAP CONTAINERS ================================= */
/* Everything */
#map-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

@media (min-width: 768px) {
  #map-layout {
    flex-direction: row;
  }
}

/* Everything but the zip-code box */
#map-section {
  margin-top: 3vh;
  margin-left: 1vw;
}

/* ================================= MAP STYLING ================================= */
#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

@media (min-width: 768px) {
  #map-container {
    height: 700px;
    width: 65vw;
  }
}

/* Styles for all maps, hidden by default */
.map {
  height: 100%;
  width: 100%;
  display: none;
}

/* Show selected map */
.map.active {
  display: block;
}

/* ================================= MAP BUTTON STYLING ================================= */
#map-btn-container {
  display: flex;
  flex-wrap: wrap;
}

.mapSelectBtn {
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: black;
  flex: 1;
  min-width: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  .mapSelectBtn {
    padding: 10px 20px;
  }
}

.mapSelectBtn:focus,
.mapSelectBtn:active {
  outline: 3px solid lightblue;
  z-index: 1;
}

#censusTractLevel {
  font-weight: bold;
}

#btnDemographicLanguageMap {
  background-color: rgb(0, 188, 212);
}

#btnHealthRiskBehaviorsMap {
  background-color: rgb(96, 125, 139);
  color: white;
}

#btnHealthOutcomesMap {
  background-color: rgb(255, 221, 221);
}

#btnScreeningRatesMap {
  background-color: rgb(156, 39, 176);
  color: white;
}

#btnHealthStatusMap {
  background-color: rgb(76, 175, 80);
}
/* ================================================================== ZIPCODE STYLING ================================================================== */
#zip-code-container {
  margin-top: 30px;
  width: 100%;
  height: auto;
  border: 1px solid rgb(33, 37, 41);
}

@media (min-width: 768px) {
  #zip-code-container {
    width: 30vw;
    height: 735px;
  }
}

#zip-code-header {
  display: flex;
  gap: 20px;
  padding: 8px;
  background-color: rgb(0, 150, 136);
}

#zip-code-header-text {
  font-weight: bold;
  color: white;
}

#zip-code-dropdown {
  font-weight: bold;
}

#zip-code-content {
}

/* ================================================================== LEGEND STYLING ================================================================== */
/* Legend container styles */
.legend,
.healthRiskLegend,
.healthOutcomesLegend,
.screeningRatesLegend,
.healthStatusLegend {
  padding: 2px 2px;
  font: 10px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.5);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
  min-width: 125px;
}

/* Legend heading styles */
.legend h4,
.healthRiskLegend h4,
.healthOutcomesLegend h4,
.screeningRatesLegend h4,
.healthStatusLegend h4 {
  text-align: center;
  font-size: 12px;
  /*margin: 2px 12px 8px;*/
  color: #777;
  margin-top: 0px;
}

/* Legend icon styles */
.legend i,
.healthRiskLegend i,
.healthOutcomesLegend i,
.screeningRatesLegend i,
.healthStatusLegend i {
  width: 12px;
  height: 18px;
  float: left;
  margin: 0 4px 0 0;
  opacity: 0.7;
}

/* Legend text styles */
.legend span,
.healthRiskLegend span,
.healthOutcomesLegend span,
.screeningRatesLegend span,
.healthStatusLegend span {
  position: relative;
  bottom: 3px;
}
